<channel-definition id="my-amf" class="mx.messaging.channels.AMFChannel">
	<endpoint url="http://{server.name}:{server.port}/{context.root}/messagebroker/amf" class="flex.messaging.endpoints.AMFEndpoint" />
	<properties>
		<polling-enabled>false</polling-enabled>
		<serialization><legacy-collection>true</legacy-collection></serialization>//该行就是需要加入的配置
	</properties>
</channel-definition>